// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

section {
    padding: 40px 0;
}

.larger-icon {
    font-size: 10rem;
}

.header-wrapper {
    height: 100vh;
    width: 100%;
    color: #000;
    text-shadow: 0 0 5px white;
    display: table;
    background-image: url('/images/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    a {
        color: #555;
    }
}

.header-wrapper div {
    display: table-cell;
    vertical-align: middle;
}

.intro-wrapper {
    background-color: #333;
    color: #FFF;

    a {
        color: #BBB;
    }
}

pre {
    padding: 15px;
    background-color: #333;
    color: #FFF;
    border-radius: 10px;
    font-weight: bold;
}

.contacts-wrapper {
    background-color: #555;
    color: #FFF;
}

.contacts-wrapper .links a {
    color: #FFF;
}

.menu-reference {
    display: inline-block;
    background-color: #222;
    color: #9d9d9d;
    padding: 0 5px;
}

h1, h2 {
    margin-top: 30px;
}

table {
    margin-bottom: 20px;

    thead {
        border-bottom: 1px solid #000;
    }
    tbody {
        tr {
            td:first-of-type {
                white-space: nowrap;
                padding-right: 15px;
                vertical-align: top;
            }
        }
    }
}
